* { 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Arial;
    background: #f5f5f5;
    color: #333;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(46, 29, 9);
    text-align: center;
}
.main-banner {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 80px 0;
}
/* Шапка сайта - максимально просто */
.header {
    background: #65320e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu {
    margin-top: 15px;
}

.menu a {
    color: white;
    margin: 0 10px;
    font-size: 18px;
}

.hero {
    background: #804012bf;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: white;
    color: #8B4513;
    padding: 12px 30px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.cards {
    padding: 50px 0;
    background: white;
    text-align: center;
}

.cards h2 {
    color: #8B4513;
    font-size: 28px;
    margin-bottom: 30px;
}

.card {
    width: 250px;
    padding: 20px;
    background: #f8f4f0;
    border-radius: 8px;
}

.card-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    display: block;
}

.card h3 {
    color: #8B4513;
    margin-bottom: 10px;
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}